.no-link-style {
  color: inherit;
  text-decoration: none; /* no underline */
}

body,
html {
  background-color: #0e0e0e !important;
  background-image: url("../public/wsu_pattern.svg") !important;
  background-position: center !important;
  background-size: calc(max(100%, 1000px));
}

.app-bar-container {
  border-radius: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  /* wsu color bg */
  background-color: #a60f2d !important;
}

.page-container {
  padding: 1.5rem;
  margin-top: 1rem;
}

.secondary-card {
  background-color: #353535 !important;
}

.difficulty-meter {
  max-width: 25rem;
  height: 20px !important;
  border-radius: 10px;
}

/* add padding-bottom to every h */
h1,
h2,
h3,
h4,
h5,
h6 {
  padding-top: 0.8rem;
}

.padding-margin {
  margin: 0.75rem 0;
  padding: 0.75rem;
}

.top-margin {
  margin-top: 1rem;
}

.align-right {
  text-align: right;
}

.soft-text {
  opacity: 0.5;
}

.liked {
  color: #ff3961 !important;
}
