.no-link-style {
  color: inherit;
  text-decoration: none; /* no underline */
}

body,
html {
  background-color: #0e0e0e !important;
  background-image: url("../public/wsu_pattern.svg") !important;
  background-position: center !important;
  background-size: calc(max(100%, 1000px));
}

body {
  min-height: 100vh !important;
  display: flex;
  flex-direction: column;
}

.app-bar-container {
  border-radius: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.page-container {
  padding: 1.5rem;
  margin-top: 1rem;
}

.secondary-card {
  background-color: #353535 !important;
}

.difficulty-meter {
  max-width: 25rem;
  height: 20px !important;
  border-radius: 10px;
}

/* add padding-bottom to every h */
h1,
h2,
h3,
h4,
h5,
h6 {
  padding-top: 0.8rem;
}

.padding-margin {
  margin: 0.75rem 0;
  padding: 0.75rem;
}

.top-margin {
  margin-top: 1rem;
}

.align-right {
  text-align: right;
}

.soft-text {
  opacity: 0.5;
}

.liked {
  color: #ff3961 !important;
}

.site-title {
  font-size: 1.5rem !important;
  font-family: "Oswald", sans-serif !important;
}

.user-name {
  font-family: "Oswald", sans-serif !important;
}

.footer {
  width: 100%;
  margin-bottom: 0;
  margin-top: auto;
}

.copyright {
  color: white;
  text-align: center;
  padding: 2rem;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #353535;
  z-index: 1;
}

::-webkit-scrollbar-thumb {
  background: #494949;
}

::-webkit-scrollbar-thumb:hover {
  background: #ca1237;
}

.map {
  height: 220px;
}

#map {
  height: 200px;
}
